@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rowdies:wght@400;700&display=swap');

body {
	@apply bg-gray-900;
	font-family: 'Roboto', sans-serif;
}

.tw-text b{
	@apply text-slate-200;
}

.tooltip {
	background-color: black;
	border: 1px solid #334;
	border-radius: 12px;
	padding: 6px 8px;
	max-width: 250px;
	line-height: 1.3;
	color: #dde;
}
