@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rowdies:wght@400;700&display=swap');

html, body {
	@apply bg-gray-900;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
    height: 100%;
}

::selection {
	@apply bg-primary-500 bg-opacity-60;
}

.tw-text b{
	@apply text-slate-200;
}

.tooltip {
	background-color: black;
	border: 1px solid #334;
	border-radius: 12px;
	padding: 6px 8px;
	max-width: 250px;
	line-height: 1.3;
	color: #dde;
}

.key-span {
	@apply px-1 text-lg border rounded-md text-slate-200 border-slate-200;
}

/*  */

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	@apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
	@apply transition bg-opacity-20 bg-primary-500;
}

::-webkit-scrollbar-thumb:hover {
	@apply opacity-100 cursor-pointer bg-primary-500;
}