# on pull request to main branch run yarn test
# and on any push to the branch of the pull request as well
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - '!main'
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          build: yarn
          start: yarn dev
      - run: yarn test